/* @import url("https://fonts.googleapis.com/css?family=Inter:400'");
$font: "Inter", sans-serif;
$white: #fff;
$green: #007e90; */

body {
  width: 100%;
  background-color: #eefeff;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 3rem auto;
  border-radius: 25px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 5rem;
  background-color: #fff;
}

#care_allowance_form {
  display: flex;
  flex-direction: column;
}

#care_allowance_form span {
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

/* #care_allowance_form input[type="radio"] { */
#care_allowance_form label,
#care_allowance_form input[type="radio"] {
  cursor: pointer;
}

#care_allowance_form label {
  padding: 25px 30px;
  color: #363636;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  width: auto;
  -webkit-box-shadow: 0 0 0 4px transparent;
  -moz-box-shadow: 0 0 0 4px transparent;
  box-shadow: 0 0 0 4px transparent;
  -webkit-transition: background 0.5s ease, box-shadow 0.5s ease,
    border 0.5s ease;
  -moz-transition: background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
  -o-transition: background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
  transition: background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
}

#care_allowance_form input:checked + label {
  color: #363636;
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 4px #f7a811;
  -moz-box-shadow: 0 0 0 4px #f7a811;
  box-shadow: 0 0 0 4px #f7a811;
}

.inline-row {
  margin: 0.8em 0;
}

.radio-grp {
  display: flex;
  margin: 0 0 1em 0;
}
.radio-grp > div:not(:last-child) {
  display: flex;
  margin: 0 2.5em 0 0;
}
.radio-grp-inline-row {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

button {
  color: #3b3b3d;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ffc73b;
  border-radius: 5px;
  border: none;
  /* height: 65px; */
  padding: 20px 15px;
}
button:hover {
  background-color: #f2b61d;
}

#summary-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  background-color: #eee;
  color: #444;
  justify-content: center;
  align-items: center;
}

.box {
  /* background-color: #444; */
  /* color: #fff; */
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
/* 
.middle {
  width: 100%;
  text-align: center;
  h1 {
    font-family: $font;
    color: $white;
  }
  input[type="radio"] {
    display: none;
    &:checked {
      + .box {
        background-color: $green;
        span {
          color: white;
          transform: translateY(70px);
          &:before {
            transform: translateY(0px);
            opacity: 1;
          }
        }
      }
    }
  }
  .box {
    width: 200px;
    height: 200px;
    background-color: $white;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: $font;
    font-weight: 900;
    &:active {
      transform: translateY(10px);
    }
    span {
      position: absolute;
      transform: translate(0, 60px);
      left: 0;
      right: 0;
      transition: all 300ms ease;
      font-size: 1.5em;
      user-select: none;
      color: $green;
      &:before {
        font-size: 1.2em;
        font-family: FontAwesome;
        display: block;
        transform: translateY(-80px);
        opacity: 0;
        transition: all 300ms ease-in-out;
        font-weight: normal;
        color: white;
      }
    }
  }
  .front-end {
    span {
      &:before {
        content: "\f121";
      }
    }
  }
  .back-end {
    span {
      &:before {
        content: "\f0f4";
      }
    }
  }

  p {
    color: $white;
    font-family: $font;
    font-weight: 400;
    a {
      text-decoration: underline;
      font-weight: bold;
      color: #fff;
    }
    span {
      &:after {
        content: "\f0e7";
        font-family: FontAwesome;
        color: yellow;
      }
    }
  }
} */
