body {
  background-color: #ced1d1;
}

.cal_container {
  /* width: 100%; */
  max-width: 1100px;
  background-color: #fff;

  margin: 3em auto;
  padding: 3em;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.2);
}

.cal_container div {
  /* 	margin: 2em 0; */
}

.cal_container p {
  /* 	margin: 0; */
}

#care_allowance_form {
  display: flex;
  flex-direction: column;
}

#care_allowance_form label,
#care_allowance_form input[type="radio"] {
  cursor: pointer;
}

#care_allowance_form input[type="radio"] {
  display: none;
}

#care_allowance_form label {
  padding: 1.3em 2em;
  color: var(--e-global-color-accent) !important;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  width: auto;
  background: #fff;
  border: 1px solid #e1e0e0;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: 0 0 0 4px transparent;
  -moz-box-shadow: 0 0 0 4px transparent;
  box-shadow: 0 0 0 4px transparent;
  -webkit-transition: background 0.5s ease, box-shadow 0.5s ease,
    border 0.5s ease;
  -moz-transition: background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
  -o-transition: background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
  transition: background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
}

#care_allowance_form input:checked + label {
  color: #363636;
  background-color: #fff;
  border-color: transparent;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0 4px #f7a811;
  -moz-box-shadow: 0 0 0 4px #f7a811;
  box-shadow: 0 0 0 4px #f7a811;
}

#care_allowance_form span {
  display: block;
  font-size: 1.2em;
  margin: 0.2em 0;
  color: #1d57a5;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 25px;
}

#care_allowance_form .inline_row {
  margin: 0.7em 0;
}

/* Add the pointer-events property to the .inline_row class  */
/* .inline_row:not(.active) {
  pointer-events: none;
  opacity: 0.4;
} */

#care_allowance_form .radio_grp {
  display: flex;
  margin: 0 0 1em 0;
}
#care_allowance_form .radio_grp > div:not(:last-child) {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1em 0 0;
}
#care_allowance_form .radio_grp_inline_row {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

#input_check {
  color: #3b3b3d !important;
}

.care_cta_btn {
  background-color: green;
  color: #fff;
  letter-spacing: 0em;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  height: 65px;
  padding: 20px 15px;
}
.care_cta_btn:hover {
  color: #333;
  background-color: yellow;
}

#summary_grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7f8fd;
  color: #363636;
  border-radius: 15px;
  padding: 20px;
  margin-top: 3em;
}

#summary_grid .result_grp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#summary_grid .box {
  width: 48%;
}

#summary_grid h5 {
  font-size: 1.6em;
  text-transform: uppercase;
  color: #3b3b3d;
  letter-spacing: -1px;
}

#summary_grid .received_amount {
  font-size: 0.8em;
  font-weight: 700;
  color: #666;
  text-transform: uppercase;
}

#summary_grid .received_amount span {
  display: block;
  font-size: 2.1em;
  margin: -0.2em 0;
  color: #1d57a5;
}

#summary_grid .text-small {
  font-size: 0.67em;
}

.box {
  padding: 15px;
}

.alt_action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.alt_action a {
  font-size: 0.9em;
  margin-left: 1em;
}

#enquiry_form {
  margin-top: 3em;
}

/* Smartphones (portrait) ----------- */
@media screen and (max-width: 600px) {
  .cal_container {
    padding: 1em;
  }
  #care_allowance_form .radio_grp {
    display: flex;
    flex-wrap: wrap;
  }
  #care_allowance_form .radio_grp > div:not(:last-child) {
    margin: 0 0.8em 0 0;
  }
  #care_allowance_form .radio_grp label {
    display: flex;
    margin: 0 0 1em 0;
  }
  #summary_grid .result_grp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #summary_grid .box {
    width: 100%;
    padding: 0;
  }
  .alt_action {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .alt_action a {
    margin-left: 0;
    margin-top: 0.3em;
  }
}
/* Smartphones (portrait) ----------- */
